.container{
   /* align-items: center; */
   margin-top:250px;
   /* padding-bottom: 50px; */
   display: flex;
}

.orderinput{
    display: flex;
    flex-direction :column;
    width : 400px;
    padding:102px;
    /* justify-self: center; */
    margin: auto;
    box-shadow: rgba(33, 35, 38, 0.2) 0px 10px 10px -10px;
    margin-left: 10px;
    margin-top: -120px;
    border-radius: 12px;
    background-color: white;
 margin-bottom: 500px;
   /* z-index: 5; */

    /* padding:20px; */
}
.right{
    margin-right: 30px;
    width: 20%;
    height: 200px;
    background-color: rgb(33, 5, 5);
    color: white;
}
.wrapper{
    margin-left: 30px;
    
}
.totalText{
    margin-top: 10px;
}
.buttons{
    margin-top: 10px;
    transition: all .5s ease;
    color:  rgb(207, 170, 255);
    border: 2px solid  rgb(207, 170, 255);
    font-family:'Montserrat', sans-serif;
    font-weight:bolder;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 13px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}
.buttons a{
    text-decoration: none;
}
.buttons:hover{
    color: white;
    background-color: rgb(207, 170, 255);
    cursor: pointer;
}

.first,.last,.address,.contact{
    padding:10px;
    margin-bottom: 20px;
    border:1px blueviolet solid;
    
    /* border:none; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */

    /* box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; */
}

.button{
    transition: all .5s ease;
    color:  rgb(207, 170, 255);
    border: 2px solid  rgb(207, 170, 255);
    font-family:'Montserrat', sans-serif;
    font-weight:bolder;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 13px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}

.button:hover{
    color: white;
    background-color: rgb(207, 170, 255);
    cursor: pointer;
}
.title{
    color: rgb(169, 77, 255);
    font-family:'Montserrat', sans-serif;
    margin-top: -30px;

}
/* .address{
    padding: 2px;
}
 */

 .ordrec{
       /* align-items: center; */
  
   /* flex-direction :column; */
   width : 400px;
   padding:102px;
   /* margin-left: 400px; */
 /* justify-content:end; */

   margin: auto;
   box-shadow: rgba(33, 35, 38, 0.2) 0px 10px 10px -10px;
   margin-left: 650px;
   margin-top: -1230px;
   border-radius: 12px;
   background-color: white;
   margin-bottom:50px;
   height:525px;
   /* z-index: 4; */
 }

 .itemprice{
    text-align: end;
    margin-top: -33px;
    margin-right: 20px;
 }


 .Heading{
    color: rgb(169, 77, 255);
    font-family:'Montserrat', sans-serif;
    margin-top: -30px;


 }

.quantity{
    text-align: start;
}
 

.orderpop{
    background-color: rgb(41, 26, 17);
    margin-left:20px;
    color:white;
    padding:10px;
    height:20%;
    justify-content: center;
}