.content{
    /* width:100%; */
    height:150px;
    /* justify-content: center; */
    text-align: left;
    background-color: white;
    /* border:1px green dashed; */
    flex-direction: column;
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    border-radius:50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.ordertxt,.orderamt,.ordertime,.orderpay{
    text-align: left;
    margin-left: 27px;
    
}

.orderamt{
    margin-top: -4px;
    margin-bottom: 0;
    
}
.ordertime{
    margin-top:-9px;
}
.orderpay{
    margin-top:9px;
}

.orderstat{
    /* justify-content: end; */
    margin-top: 400px;

}

.orderstatus{
    justify-content: end;
}

.status{
    justify-content: end;
}
